html, body, .block {
    height: auto;
}

a {
    text-decoration: none;
}

.nav-bars {
    z-index: 1;
}

.block .nav-bars .nav-wrapper {
    background: url(../images/footer_lodyas_dark.png) repeat;
}

body .block {
    background: url(../images/footer_lodyas.png) repeat;
}

.lineup-container {
    /*border: 2px white solid;*/
    margin: 40px auto 15px auto;
}

.lineup-container.first {
    /*border: 2px white solid;*/
    margin: 64px auto 15px auto;
}

.inner-lineup-container {
    margin: 15px;
    /*border: 2px black solid;*/
    height: auto;
}

.inner-lineup-container .artist-boxes-container span {
    box-sizing: border-box;
}

.fest-name-container {
    margin: 15px auto;
    height: auto;
    width: auto;
    /*border: 2px white solid;*/
    text-align: center;
}

.fest-name {
    font-size: 7vh;
    font-family: "Changa", sans-serif;
    width: auto;
    height: auto;
    margin: 15px auto;
    color: #fff8f0;
    /*text-align: center;*/
    /*border: 2px white solid;*/
}

.selection-choice {
    /*border-left: 2px #fff8f0 solid;
    border-right: 2px #fff8f0 solid;*/
    margin: 15px;
    height: auto;
}

.selection-choice .row .no-padding-sides {
    padding: 0;
}

.tabs .tab a:hover, .tabs .tab a.active {
    color: rgba(255, 248, 240, 1);
}

.tabs .tab a {
    color: rgba(255, 248, 240, .7);
}

.tabs .indicator {
    background-color: rgba(255, 248, 240, 1);
}

ul.tabs {
    background: transparent;
}

#s1, #s2, #s3 {
    height: auto;
    text-align: center;
    font-size: 7vmin;
    font-family: "Changa", sans-serif;
    margin: 15px 0;
    color: #fff8f0;
}

.artist-boxes-container {
    margin: 15px;
    border: 2px #fff8f0 dashed;
    height: auto;
    text-align: center;
}

.artist-boxes {
    box-sizing: border-box;
    border: 4px transparent solid;
    display: inline-block;
    color: #fff8f0;
    margin: 3px 0;
    padding: 7px 4px;
    line-height: 3px;
}

.artist-boxes:hover {
    border: 4px rgba(255, 248, 240, .6) outset;
}

.dots.material-icons {
    font-size: 11px;
    color: rgba(30, 215, 96, 0);
}

.green-dot.dots {
    color: #1ed760;
}

.blue-dot.dots {
    color: #28AFB0;
}

.grey-dot.dots {
    color: #fff8f0;
}

div.row {
    margin-bottom: 0;
}

.step-1-container {
    margin: 15px;
    height: 106px;
    border: 2px white solid;
}

.part1 {
    margin-bottom: 0px;
}

.step-2-container {
    margin: 15px;
    height: 106px;
    border: 2px white solid;
}

.part2 {
    margin-top: 0;
}

.right-arrow.material-icons {
    font-size: 100px;
    color: #fff8f0;
}

.right-arrow-container {
    float: right;
    display: inline-block;
    height: auto;
}

.settings.material-icons {
    font-size: 50px;
    color: #fff8f0;
    margin: 26px;
}

.settings-container {
    float: right;
    display: inline-block;
    height: auto;
}

.step-name {
    float: left;
    margin: 25px -31px;
    /*display: inline-block;*/
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    /*border: 2px solid white;*/
    width: 100px;
    height: auto;
    font-size: 19px;
    color: #fff8f0;
}

.instructions {
    /*float: right;*/
    margin: 7px 7px 0 7px;
    height: 86px;
    border: 2px white solid;
    width: 65%;
    display: inline-block;
}

.step-3-container {
    margin: 15px;
    height: 106px;
    border: 2px white solid;
}

.modal-footer {
    background: url(../images/subtle_dots.png) repeat;
}

.modal-footer {
    /*background: url(../images/debut_light_@2X_dark.png) repeat;*/
}

.modal h4 {
    text-align: center;
}
