/*--------------BODY STUFF----------------*/

.main-container {
    min-height: 100vh;
    /*background: linear-gradient(75deg, rgba(119, 205, 155, 0.82), rgba(69, 24, 115, 0.53));*/
    background: url(../images/ricepaper2.png) repeat;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    min-width: 350px;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

*, *:before, *:after {
    box-sizing: border-box;
}


/*-------------------PART ONE----------------------*/


/*.part1 {
    display: none;
}*/

.fest {
    height: 175px;
    width: 95%;
    min-width: 300px;
    /*border: 2px black solid;*/
    /*padding: 20px;*/
    margin: 0 auto;
    text-align: center;
    border-radius: 10px;
    transition: all 0.3s ease;
    background: linear-gradient(25deg, rgba(69, 24, 115, 0.53), rgba(119, 205, 155, 0.82))
}

.fest:hover {
    -webkit-box-shadow: inset 0px 0px 113px 8px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: inset 0px 0px 113px 8px rgba(0, 0, 0, 0.52);
    box-shadow: inset 0px 0px 113px 8px rgba(0, 0, 0, 0.52);
}

@media screen and (orientation:portrait) {
    /* Portrait styles */
    .name {
        font-family: 'Changa One', sans-serif;
        letter-spacing: 3px;
        font-size: 11vmin;
        margin-bottom: 15px;
        /*margin-top: 10px;*/
        padding-top: 20px;
        width: 100%;
        font-weight: 900;
        /*padding: 20px 20px;*/
        text-align: center;
        margin-top: 25px;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
        transition: all 0.3s ease;
    }
    .name:hover, .name:hover {
        /*margin-top: 35px;*/
        font-size: 12vmin;
        text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px rgb(117, 83, 255), 0 0 70px, 0 0 80px, 0 0 100px rgb(117, 83, 255);
    }
}


/* Landscape */

@media screen and (orientation:landscape) {
    /* Landscape styles */
    .name {
        font-family: 'Changa One', sans-serif;
        letter-spacing: 3px;
        font-size: 18vmin;
        margin-bottom: 15px;
        /*margin-top: 10px;*/
        padding-top: 20px;
        width: 100%;
        font-weight: 900;
        /*padding: 20px 20px;*/
        text-align: center;
        margin-top: 25px;
        text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
        transition: all 0.3s ease;
    }
    .name:hover, .name:hover {
        /*margin-top: 35px;*/
        font-size: 20vmin;
        text-shadow: 0 0 10px rgba(255, 255, 255, 1), 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1), 0 0 40px rgb(117, 83, 255), 0 0 70px, 0 0 80px, 0 0 100px rgb(117, 83, 255);
    }
}


/*------------------PART TWO------------------*/

#part2Box {
    width: 95%;
    /*border: 2px black solid;*/
    background: linear-gradient(125deg, rgba(69, 24, 115, 0.53), rgba(100, 205, 120, 0.82));
    min-height: 500px;
    height: auto;
    margin: 20px auto 20px auto;
    padding: 15px 0;
    min-width: 300px;
}

#part2InnerBox {
    width: 90%;
    /*border: 2px rgba(69, 24, 115, 0.53) dashed;*/
    margin: 15px auto;
    height: auto min-height: 500px;
    text-align: center;
    /*min-width: 270px;*/
}

@media screen and (orientation:portrait) {
    /* Portrait styles */
    .artistBoxes {
        box-sizing: border-box;
        display: inline-block;
        border-left: 1px dotted rgba(69, 24, 115, 0.4);
        border-right: 1px dotted rgba(69, 24, 115, 0.4);
        border-collapse: collapse;
        margin: 8px 0;
        font-family: 'Changa One', sans-serif;
        padding: 25px;
        line-height: 25px;
        font-size: 3vh;
        background: linear-gradient(25deg, rgba(50, 205, 155, 0.82), rgba(119, 205, 155, 0.82))
    }
    .selections {
        font-family: 'Changa', sans-serif;
        font-size: 4vh;
        padding: 15px;
        font-weight: 400;
        color: ghostwhite;
    }
    /*.artistBoxes:hover {
        color: white;
        background: linear-gradient(25deg, rgba(69, 24, 115, 0.82), rgba(69, 24, 144, 0.82));
    }*/
    /*.artistBoxes:active {
        color: white;
        -webkit-box-shadow: inset 0px 0px 113px 2px rgba(0, 0, 0, 0.52);
        -moz-box-shadow: inset 0px 0px 113px 2px rgba(0, 0, 0, 0.52);
        box-shadow: inset 0px 0px 113px 2px rgba(0, 0, 0, 0.52);
    }*/
}


/* Landscape */

@media screen and (orientation:landscape) {
    /* Landscape styles */
    .artistBoxes {
        box-sizing: border-box;
        display: inline-block;
        border-left: 1px dotted rgba(69, 24, 115, 0.4);
        border-right: 1px dotted rgba(69, 24, 115, 0.4);
        border-collapse: collapse;
        margin: 8px 0;
        font-family: 'Changa One', sans-serif;
        padding: 15px;
        line-height: 25px;
        font-size: 4vh;
        background: linear-gradient(25deg, rgba(50, 205, 155, 0.82), rgba(119, 205, 155, 0.82))
    }
    .selections {
        font-family: 'Changa', sans-serif;
        font-size: 6vh;
        padding: 15px;
        font-weight: 400;
        color: ghostwhite;
    }
    /*.artistBoxes:hover {
        color: white;
        background: linear-gradient(25deg, rgba(69, 24, 115, 0.82), rgba(69, 24, 144, 0.82));
    }*/
    /*.artistBoxes:active {
        color: white;
        -webkit-box-shadow: inset 0px 0px 113px 2px rgba(0, 0, 0, 0.52);
        -moz-box-shadow: inset 0px 0px 113px 2px rgba(0, 0, 0, 0.52);
        box-shadow: inset 0px 0px 113px 2px rgba(0, 0, 0, 0.52);
    }*/
}

.selected1 {
    color: white;
    background: linear-gradient(25deg, rgba(69, 24, 115, 0.82), rgba(69, 24, 144, 0.82));
    -webkit-box-shadow: inset 0px 0px 19px 1px rgba(255, 255, 255, 0.38);
    -moz-box-shadow: inset 0px 0px 19px 1px rgba(255, 255, 255, 0.38);
    box-shadow: inset 0px 0px 19px 1px rgba(255, 255, 255, 0.38);
    border-left: 1px dotted rgba(69, 24, 115, 0);
    border-right: 1px dotted rgba(69, 24, 115, 0);
}

.selected2 {
    color: white;
    background: linear-gradient(25deg, rgba(69, 24, 115, 0.82), rgba(69, 24, 144, 0.82));
    border-left: 1px dotted rgba(69, 24, 115, 0);
    border-right: 1px dotted rgba(69, 24, 115, 0);
}

.selected3 {
    -webkit-box-shadow: inset 0px 0px 19px 1px rgba(0, 0, 0, 0.48);
    -moz-box-shadow: inset 0px 0px 19px 1px rgba(0, 0, 0, 0.48);
    box-shadow: inset 0px 0px 19px 1px rgba(0, 0, 0, 0.48);
    border-left: 1px dotted rgba(69, 24, 115, 0);
    border-right: 1px dotted rgba(69, 24, 115, 0);
}

.p2header {
    width: 95%;
    text-align: center;
    /*border: 2px black solid;*/
    background: linear-gradient(125deg, rgba(69, 24, 115, 0.53), rgba(119, 205, 155, 0.82));
    min-height: 50px;
    height: auto;
    margin: 20px auto;
    min-width: 300px;
    vertical-align: middle;
    border: 2px rgba(69, 24, 115, .53) double;
}

.buttonDiv .s2, .buttonDiv .s4 {
    font-size: 25px;
    height: 100px;
    color: black;
    /*padding: 0;*/
    /*background-color: #ce93d8;*/
    padding: 1.7rem;
}


/*.button1L {
    margin-bottom: 30px;
    font-family: 'Changa', sans-serif;
    padding: 1rem;
    height: 80px;
    float: left;
    font-size: 24px;
}

.button1R {
    margin-bottom: 30px;
    font-family: 'Changa', sans-serif;
    padding: 1rem;
    height: 80px;
    float: right;
    font-size: 24px;
}*/

.pButton:hover {
    /*background: rgba(69, 24, 115, 0.84);*/
    -webkit-box-shadow: inset 0px 0px 113px 2px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: inset 0px 0px 113px 2px rgba(0, 0, 0, 0.52);
    box-shadow: inset 0px 0px 113px 2px rgba(0, 0, 0, 0.52);
}


/*----------------PART THREE-----------------*/

#slider1, #slider2, #slider3 {
    width: 100%;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 9.45px 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6.1px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: rgba(255, 255, 255, 0.78);
    border-radius: 20.4px;
    border: 0px solid #000101;
}


/*input[type=range]+.thumb.active .value {
    color: #fff;
    margin-left: 7px;
    margin-top: 11px;
    font-size: 19px;
}*/


/*input[type=range]+.thumb.active {
    border-radius: 50% 50% 50% 0;
    left: 392.902px;
    height: 50px;
    width: 50px;
    top: -50px;
    margin-left: -15px;
}*/

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 16.95px 0;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6.1px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: rgba(255, 255, 255, 0.78);
    border-radius: 20.4px;
    border: 0px solid #000101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
    border: 1.8px solid rgba(0, 0, 30, 0.02);
    height: 40px;
    width: 40px;
    border-radius: 38px;
    background: #1d9888;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -16.95px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(255, 255, 255, 0.78);
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 6.1px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: rgba(255, 255, 255, 0.78);
    border-radius: 20.4px;
    border: 0px solid #000101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
    border: 1.8px solid rgba(0, 0, 30, 0.02);
    height: 40px;
    width: 40px;
    border-radius: 38px;
    background: #1d9888;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 6.1px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: rgba(235, 235, 235, 0.78);
    border: 0px solid #000101;
    border-radius: 40.8px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: rgba(255, 255, 255, 0.78);
    border: 0px solid #000101;
    border-radius: 40.8px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 0.9px 0.9px 1px #000031, 0px 0px 0.9px #00004b;
    border: 1.8px solid rgba(0, 0, 30, 0.02);
    height: 40px;
    width: 40px;
    border-radius: 38px;
    background: #1d9888;
    cursor: pointer;
    height: 6.1px;
}

input[type=range]:focus::-ms-fill-lower {
    background: rgba(255, 255, 255, 0.78);
}

input[type=range]:focus::-ms-fill-upper {
    background: rgba(255, 255, 255, 0.78);
}

.qContainer {
    /*position: fixed;*/
    width: auto;
    margin: 15px;
    /*height: auto;*/
    /*top: 15px;*/
    /*left: 25px;
    right: 25px;*/
    border: black 4px double;
    background: linear-gradient(125deg, rgba(69, 24, 115, 0.53), rgba(119, 205, 155, 0.82));
}

input[type=range] {
    border: 0;
}

.slider {
    height: 0;
}

.mini-container {
    margin: 10px auto;
    width: 85%;
    /*border: white 2px solid;*/
    height: auto;
    text-align: center;
}

.mini-container h3 {
    font-family: 'Changa', sans-serif;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.01) 1%, rgba(255, 255, 255, 0.20) 26%, rgba(255, 255, 255, 0.20) 74%, rgba(255, 255, 255, 0) 100%);
}

.mini-container hr {
    height: 6px;
    background: url(../images/hr-11.png) repeat-x 0 0;
    border: 0;
}

#estimate {
    text-align: center;
    line-height: 1.4em;
    z-index: 1;
    font-family: 'Changa', sans-serif;
    font-size: 12px;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 3px;
    background: rgba(50, 205, 155, 0.92);
    right: 30px;
    top: 30px;
    padding: auto 0;
}

#divHeight3 {
    margin-top: 15px;
}

.part3header {
    width: 95%;
    text-align: center;
    /*border: 2px black solid;*/
    background: linear-gradient(125deg, rgba(69, 24, 115, 0.53), rgba(119, 205, 155, 0.82));
    min-height: 50px;
    height: auto;
    margin: 20px auto;
    min-width: 300px;
    vertical-align: middle;
    border: 2px rgba(69, 24, 115, .53) double;
}

.part3header h1 {
    font-family: 'Changa', sans-serif;
    font-size: 4vh;
    padding: 15px;
    font-weight: 400;
    color: ghostwhite;
}


/*------------------- PART 4 ---------------------------*/

.posterHeader {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 7rem;
    margin-bottom: 50px;
    color: ghostwhite;
    background-color: #4db6ac;
    /*text-transform: uppercase;*/
    color: transparent;
    text-shadow: 0px 4px 6px rgba(255, 255, 255, 0.3);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.poster {
    margin: 150px;
    margin-top: 0;
    height: auto;
    border: 3px ghostwhite solid;
    text-align: center;
    background: white;
    transform: skewX(-2deg);
    /*border: 6px outset #2eb9ce;*/
}

.poster * {
    transform: skewX(-2deg);
    font-family: 'Changa', sans-serif;
    margin: 50px 0;
}

.poster:last-of-type {
    /*margin-bottom: 40px;*/
}

#reshuffle {
    font-size: 30px;
}
